/*
    GLOBAL.CSS

    - Last updated: 07.03.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------

// $page-padding: rem-calc(40) !default;

//-----------------------------------------------------------------
// Foundation Overrides (Hacks)
//-----------------------------------------------------------------

html, body {
    -webkit-overflow-scrolling: touch;

    @media #{$medium-up} {
        // overflow-y: hidden;
    }
}

body {
    // overflow-y: hidden;
    // overflow-x: scroll;
}

//-----------------------------------------------------------------
// Scroller
//-----------------------------------------------------------------

.lv-scroller {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // overflow: hidden;
}

//-----------------------------------------------------------------
// Page Table
//-----------------------------------------------------------------

.lv-page {
    height: 100%;
    margin: 0 auto;
    // height: 100vh;
    // width: auto;//($symbol-width-medium + $symbol-gap-width/8) * 5 + $logo-width-small; // 8 is magic
    // overflow: hidden;

    @media #{$small-only} {
        width: auto;
        padding: rem-calc(0 15); // gutter
    }

    // Page extends to fill horizontal axis
    @media #{$large-up} {
        display: table;
        width: ($symbol-width-medium + $symbol-gap-width/8) * 5 + $logo-width-small; // 8 is magic
    }

    @media #{$large-up} and (min-height: 900px) {
        width: ($symbol-width-large + $symbol-gap-width/8) * 5 + $logo-width-small;
    }
}

//-----------------------------------------------------------------
// lv-super: top-most non-visual wrapper | lv-page: visual wrapper
//-----------------------------------------------------------------

.lv-screen-data {
    display: none;
}

.dev .lv-screen-data {
    display: block;
    position: fixed;
    top: 0;
    padding: rem-calc(10 20);
    z-index: 9000;
    background: #282828;
    color: white;
}

//=========================================
//
//=========================================