/*
    GLOBAL.CSS

    - Last updated: 07.03.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------

// $page-padding: rem-calc(40) !default;

//-----------------------------------------------------------------
// Foundation Overrides (Hacks)
//-----------------------------------------------------------------

html, body {
    -webkit-overflow-scrolling: touch;

    @media #{$medium-up} {
        // overflow-y: hidden;
    }
}

body {
    // overflow-y: hidden;
    // overflow-x: scroll;
}

.lv-scroller {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // width: 100%;
    // height: 100%;
    // overflow: auto;
}

#mCSB_1_container {
    height: 100%; // keep for reference
}

//-----------------------------------------------------------------
// Page Table
//-----------------------------------------------------------------

.lv-page {
    height: 100%;
    // height: 100vh;
    // width: auto;//($symbol-width-small + $symbol-gap-width/8) * 5 + $logo-width-small; // 8 is magic
    margin: 0 auto;
    // overflow: hidden;

    @media #{$small-only} {
        width: auto;
        padding: rem-calc(0 15); // gutter
    }

    @media #{$medium-up} {
        display: table;
        width: ($symbol-width-small + $symbol-gap-width/8) * 5 + $logo-width-small; // 8 is magic
    }

    @media #{$large-up} and (min-height: 900px) {
        width: ($symbol-width-medium + $symbol-gap-width/8) * 5 + $logo-width-small;
    }
}

//-----------------------------------------------------------------
// lv-super: top-most non-visual wrapper | lv-page: visual wrapper
//-----------------------------------------------------------------

//=========================================
//
//=========================================