/*
    HEADER.CSS

    - Last updated: ^^^^^^^^
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Header
//-----------------------------------------------------------------

.global-header {
	padding: rem-calc(20);
	text-align: center;
	display: none;

	@media #{$large-up} {
		display: table-cell;
	    vertical-align: middle;
	    width: $logo-width-small;
	    padding: rem-calc(0 15);
	}

	a {
		color: black;
		font-size: rem-calc(35);
	}

	.white {
		color: white;
	}
}

//=========================================
//
//=========================================