/*
    MODULES.CSS

    - Last updated: 07.03.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------

$logo-width-small: rem-calc(120) !default;
$symbol-width-small: rem-calc(435) !default;
$symbol-width-medium: $symbol-width-small*2 !default;
$symbol-gap-width: 60 !default;

//-----------------------------------------------------------------
// Media Symbol Container
//-----------------------------------------------------------------

.media-symbol-container {

	@media #{$medium-up} {
	    display: table-cell;
	    vertical-align: middle;
	}

	> ul > li {
		position: relative; // risky?
		padding-bottom: 0;
		margin-bottom: 0;

		@media #{$medium-up} {
			width: $symbol-width-small;
			margin: rem-calc(0 $symbol-gap-width); // match space between symbols
		}

		// If iPad horizontal OR big height = larger symbols
		@media #{$large-up} and (min-height: 900px) {
			width: $symbol-width-medium;
		}
	}

	.media-symbol .img {
		width: 100%; // for IE
		box-shadow: inset 0px 0px 0px 1px $primary-color; // hack the svg rendering appearance in IE
	}
}

//=========================================
// Media Symbol
//=========================================

.media-symbol {
	display: block;
	position: relative;
	overflow: hidden;
	z-index: 1;
	background: #eee;

	opacity: 0; // show with JS
}

//=========================================
// Media Text
//=========================================

.media-symbol-text {
	position: absolute;
	z-index: 1;
	width: rem-calc(250);

	&.bottom {
		width: rem-calc(250*2);
	}

	&.top { top: 0; }
	&.bottom { bottom: 0 }
	&.left { left: 0 }
	&.right { right: 0 }

	p {
		line-height: 1.2;
		font-size: rem-calc(16);

		@media (min-height: 900px) {
			font-size: rem-calc(21);
		}
	}
}

//=========================================
// Media Symbol Close Button
//=========================================

.media-symbol-close-btn {
	@include transition(color);
	display: block;
	font-size: rem-calc(30);
	color: white;
	margin-bottom: rem-calc(10);

	&.right, &.left, &.bottom {
		// float: none !important;
		position: absolute;
		top: -10px;
	}

	&.right {
		right: -40px;
	}

	&.left {
		left: -40px;
	}
}

.media-symbol-close-btn:hover {
	@media #{$medium-up} {
	    color: black;
	}
}

//=========================================
// Media Symbol Video
//=========================================

.media-symbol video {
	position: absolute;
	top: 0;
	left: 0;
	// border: 200px solid black; //$primary-color;

	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;

	// background-color: white;
	background-repeat: no-repeat;
	background-position: center center;
	z-index: -1;

	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;

    @media #{$devices-only} {
		// width: 100%; // need?
    }
}

//=========================================
// Media Symbol Header
//=========================================

.media-symbol .header {
	position: absolute;
	top: 50%;
	margin-top: -25px;
	left: 0;
	width: 100%;
	font-weight: 500;
	font-size: rem-calc(35);
	color: white;
	text-align: center;
	padding: 0;
}

//=========================================
//
//=========================================

