/*
    VARIABLES.CSS

    - Last updated: ^^^^^^^^
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Global Variables
//-----------------------------------------------------------------

$logo-width-small: rem-calc(420);
$symbol-width-small: rem-calc(435);
$symbol-width-medium: $symbol-width-small*2;

//=========================================
//
//=========================================