/*
    VARIABLES.CSS

    - Last updated: ^^^^^^^^
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Global Variables
//-----------------------------------------------------------------

$logo-width-small: rem-calc(300);
$symbol-width-small: rem-calc(435);
$symbol-width-medium: $symbol-width-small*2;
$symbol-gap-width: 60;

//=========================================
//
//=========================================