/*
    VARIABLES.CSS

    - Last updated: 21.03.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Global Variables
//-----------------------------------------------------------------

$symbol-width-medium: rem-calc(650);
$symbol-width-large: rem-calc(870);
$symbol-gap-width: 60;

//=========================================
// Logo
//=========================================

$logo-width-small: rem-calc(300);