{% comment %}
    IGNORE THIS COMMENT: Interchange code reference for dev self:
    <img width="200" data-interchange="[/ImageGen.ashx?width=200&image=@logo.Url, (default)], [@logo.Url, (retina)]" alt="@logo.Name">
{% endcomment %}

{% assign settings = site.data.settings %}

<h1>
    <a class="logo" href="/" title="{{ settings.seo_title }}" itemprop="url">
        <!-- <img src="/img/content" alt="{{ settings.company_title }}" itemprop="logo"> -->
        d/b<span class="white">+(co)</span>
    </a>
</h1>
