/*
    HEADER.CSS

    - Last updated: 14.07.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Header
//-----------------------------------------------------------------

.global-header {
	padding: rem-calc(40 0 40 20);
	text-align: center;

	@media #{$large-up} {
		display: table-cell;
	    vertical-align: middle;
	    width: $logo-width-small;
	    padding: rem-calc(0 15);
	}

	//=========================================
	// Logo
	//=========================================

	.logo img {
		width: rem-calc(92);
	}
}

//=========================================
// Swipe Hint for Large Touch
//=========================================

// .swipe-hint {
// 	display: none;
// }

// .touch .swipe-hint {
// 	@media #{$large-up} {
// 	    display: block;
// 		position: fixed;
// 		// top: rem-calc(50);
// 		bottom: 20px;
// 		left: 20px;
// 	}
// }
