/*
    MEDIA-CONTAINER.CSS

    - Last updated: 06.08.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Media Symbol Container
//-----------------------------------------------------------------

.media-symbol-container {
	@media #{$large-up} {
	    display: table-cell;
	    vertical-align: middle;
	}

	> ul > li {
		position: relative; // risky?
		padding-bottom: 0;
		margin-bottom: 0;
		width: 100%;

		@media #{$large-up} {
			width: $symbol-width;
			padding: 0;
			// margin: rem-calc(0 $symbol-gap-width); // match space between symbols
		}

		// *** HEIGHT SPEC ***
		@media #{$large-up} and (min-height: 670px) {
			padding: rem-calc(0 10); // create distance from top like in psd - if changed, update variables
		}
	}

	//=========================================
	// Monkey Patch - IE11
	//=========================================

	> ul > li:nth-child(4) .media-symbol .img {
		position: relative;
		display: block;
		border: 1px solid $primary-color;
	}

	//=========================================
	// Monkey Patch - IE9-11
	//=========================================

	.media-symbol {
		border-top: 1px solid $primary-color; // IE11 specific patch

		.img {
			width: 100%; // for IE9-10
			box-shadow: inset 0 0px 0px 2px $primary-color; // hack the svg rendering appearance in IE9-11
		}
	}
}

//-----------------------------------------------------------------
// Block Grid
//-----------------------------------------------------------------

.media-symbol-block-grid {
	@include block-grid($per-row: 5);
	margin: 0; // necessary to prevent horizontal scrollbars on mobile
}

//-----------------------------------------------------------------
// Super Granularity for media symbol spacing
//-----------------------------------------------------------------

.media-symbol-block-grid li {

	// PLUS
	&.order-1 {
		z-index: 5;
		margin-bottom: -16%;

		@media #{$large} { margin: 0 0 0 $symbol-1-left-margin-large; }
		@media #{$large-up} and (min-height: 670px) { margin: 0 0 0 $symbol-1-left-margin-large-high; }
	}

	// MINUS
	&.order-2 {
		// z-index: 4;
		margin-bottom: -26%;

		@media #{$large} { margin: 0 0 0 $symbol-2-left-margin-large; }
		@media #{$large-up} and (min-height: 670px) { margin: 0 0 0 $symbol-2-left-margin-large-high; }
	}

	// CROSS
	&.order-3 {
		z-index: 4;
		margin-bottom: -1%;

		@media #{$large} { margin: 0 0 0 $symbol-3-left-margin-large; }
		@media #{$large-up} and (min-height: 670px) { margin: 0 0 0 $symbol-3-left-margin-large-high; }
	}

	// SLASH
	&.order-4 {
		margin-bottom: -8%;

		@media #{$large} { margin: 0 0 0 $symbol-4-left-margin-large; }
		@media #{$large-up} and (min-height: 670px) { margin: 0 0 0 $symbol-4-left-margin-large-high; }
	}

	// EQUALS
	&.order-5 {
		@media #{$large} { margin: 0 0 0 $symbol-5-left-margin-large; }
		@media #{$large-up} and (min-height: 670px) { margin-left: $symbol-5-left-margin-large-high; }
	}

	//=========================================
	// Prevent margin chaos when text is open
	//=========================================

	&.is-open {
		margin-bottom: 0;
	}

	// PLUS - special case only
	&.order-1.is-open {
		@media #{$small-only} {
		    margin-bottom: -26%;
		}
	}
}