/*
    MEDIA-CONTAINER.CSS

    - Last updated: 14.07.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Media Symbol Container
//-----------------------------------------------------------------

.media-symbol-container {
	@media #{$large-up} {
	    display: table-cell;
	    vertical-align: middle;
	}

	> ul > li {
		position: relative; // risky?
		padding-bottom: 0;
		margin-bottom: 0;
		width: 100%;

		@media #{$large-up} {
			width: $symbol-width;
			margin: rem-calc(0 $symbol-gap-width); // match space between symbols
		}

		@media #{$large-up} and (min-height: 900px) {
			padding: rem-calc(0 90%);
		}
	}

	// Special case to coincide with code above
	.media-symbol-text {
		@media #{$large-up} and (min-height: 900px) {
			margin: rem-calc(0 90%);
		}
	}

	.media-symbol .img {
		width: 100%; // for IE
		box-shadow: inset 0px 0px 0px 1px $primary-color; // hack the svg rendering appearance in IE
	}
}

//-----------------------------------------------------------------
// Block Grid
//-----------------------------------------------------------------

.media-symbol-block-grid {
	@include block-grid($per-row: 5);
	margin: 0; // necessary to prevent horizontal scrollbars on mobile
}
//=========================================
// Testing
//=========================================

.media-symbol-block-grid li {
	&.order-1 {
		z-index: 5;
	}
	&.order-2 {
		// z-index: 4;
	}
	&.order-3 {
		// z-index: 3;
	}
	&.order-4 {
		// z-index: 2;
	}
	&.order-5 {
		// z-index: 1;
	}
}