/*
    GLOBAL.CSS

    - Last updated: 14.07.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------

// $page-padding: rem-calc(40) !default;

//-----------------------------------------------------------------
// Foundation Overrides (Hacks)
//-----------------------------------------------------------------

html, body {
    -webkit-overflow-scrolling: touch;
}

// NOTE: Cannot put overflow commands here - as it will conflict
// with the horizontal scrolling.

//-----------------------------------------------------------------
// Scroller
//-----------------------------------------------------------------

.lv-scroller {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // overflow: hidden;
}

//-----------------------------------------------------------------
// Page Table
//-----------------------------------------------------------------

.lv-page {
    height: 100%;
    margin: 0 auto;
    // height: 100vh;
    // width: auto;//($symbol-width-medium + $symbol-gap-width/8) * 5 + $logo-width-small; // 8 is magic
    // overflow: hidden;

    // uncomment for mobile experience

    @media #{$small-only} {
        width: auto;
        padding: rem-calc(0 15); // gutter
    }

    // Page extends to fill horizontal axis
    @media #{$large-up} {
        display: table;
        // width: ($symbol-width-medium + $symbol-gap-width/8) * 5 + $logo-width-small; // 8 is magic
        // width: (#{$symbol-width} + $symbol-gap-width/8) * 5 + $logo-width-small; // 8 is magic

        // 80px (80/2=40px) is the vertical bleed for images
        width: calc(#{$logo-width-small} + ((100vh - 80px) + #{$symbol-gap-width*2}) * 5);
    }

    // @media #{$large-up} and (min-height: 900px) {
        // width: ($symbol-width-large + $symbol-gap-width/8) * 5 + $logo-width-small;
    // }
}

//=========================================
//
//=========================================