/*
    GLOBAL.CSS

    - Last updated: 06.08.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------

$all-symbol-gutters-large: $symbol-1-left-margin-large +
                           $symbol-2-left-margin-large +
                           $symbol-3-left-margin-large +
                           $symbol-4-left-margin-large +
                           $symbol-5-left-margin-large;

$all-symbol-gutters-large-high: $symbol-1-left-margin-large-high +
                                $symbol-2-left-margin-large-high +
                                $symbol-3-left-margin-large-high +
                                $symbol-4-left-margin-large-high +
                                $symbol-5-left-margin-large-high;

$all-symbol-gutters-large-highest: $symbol-1-left-margin-large-highest +
                                $symbol-2-left-margin-large-highest +
                                $symbol-3-left-margin-large-highest +
                                $symbol-4-left-margin-large-highest +
                                $symbol-5-left-margin-large-highest;

//-----------------------------------------------------------------
// Foundation Overrides (Hacks)
//-----------------------------------------------------------------

html, body {
    -webkit-overflow-scrolling: touch;
}

// NOTE: Cannot put overflow commands here - as it will conflict
// with the horizontal scrolling.

//-----------------------------------------------------------------
// Scroller
//-----------------------------------------------------------------

.lv-scroller {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // overflow: hidden;
}

//-----------------------------------------------------------------
// Page Table
//-----------------------------------------------------------------

.lv-page {
    position: relative; // added 2017
    height: 100%;
    margin: 0 auto;

    @media #{$small-only} {
        width: auto;
        padding: rem-calc(0); // gutter // formerly 15 = removed
    }

    // Page extends to fill horizontal axis
    @media #{$large-up} {
        display: table;
        width: calc(#{$logo-width-small} + ((100vh - 80px) * 5) + #{$all-symbol-gutters-large} + #{$symbol-5-right-margin-large});
    }

    // ** height ** (670+)
    @media #{$large-up} and (min-height: 670px)  {
        width: calc(#{$logo-width-small} + ((100vh - 80px) * 5) + #{$all-symbol-gutters-large-high} + #{$symbol-5-right-margin-large-high});
    }

    // ** Highest ** (900+)
    @media #{$large-up} and (min-height: 900px)  {
        width: calc(#{$logo-width-small} + ((100vh - 80px) * 5) + #{$all-symbol-gutters-large-highest} + #{$symbol-5-right-margin-large-highest});
    }
}

//=========================================
//
//=========================================