/*
    GLOBAL.CSS

    - Last updated: 06.08.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------

$all-symbol-gutters-large: $symbol-1-left-margin-large + $symbol-2-left-margin-large + $symbol-3-left-margin-large + $symbol-4-left-margin-large + $symbol-5-left-margin-large;
$all-symbol-gutters-large-high: $symbol-1-left-margin-large-high + $symbol-2-left-margin-large-high + $symbol-3-left-margin-large-high + $symbol-4-left-margin-large-high + $symbol-5-left-margin-large-high;

// adhoc
$end-gutter: $symbol-2-left-margin-large / 2;

//-----------------------------------------------------------------
// Foundation Overrides (Hacks)
//-----------------------------------------------------------------

html, body {
    -webkit-overflow-scrolling: touch;
}

// NOTE: Cannot put overflow commands here - as it will conflict
// with the horizontal scrolling.

//-----------------------------------------------------------------
// Scroller
//-----------------------------------------------------------------

.lv-scroller {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // overflow: hidden;
}

//-----------------------------------------------------------------
// Page Table
//-----------------------------------------------------------------

.lv-page {
    height: 100%;
    margin: 0 auto;
    // height: 100vh;
    // width: auto;//($symbol-width-medium + $symbol-gap-width/8) * 5 + $logo-width-small; // 8 is magic
    // overflow: hidden;

    @media #{$small-only} {
        width: auto;
        padding: rem-calc(0); // gutter // formerly 15 = removed
    }

    // Page extends to fill horizontal axis
    @media #{$large-up} {
        display: table;
        width: calc(#{$logo-width-small} + ((100vh - 80px) * 5) + #{$all-symbol-gutters-large} + #{$end-gutter}); // 58 = hack end gutter
        // width: 9000px;
    }

    // ** height **
    @media #{$large-up} and (min-height: 670px)  {
        width: calc(#{$logo-width-small} + ((100vh - 80px) * 5) + #{$all-symbol-gutters-large-high} + #{$end-gutter}); // 58 = hack end gutter
    }
}

//=========================================
//
//=========================================