/*
    VARIABLES.CSS

    - Last updated: 21.03.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Global Variables
//-----------------------------------------------------------------

$symbol-width: calc(100vh - 80px);  // match this in global - can't do calc with variables - long story

// $symbol-width-small: rem-calc(30);
// $symbol-width-medium: rem-calc(450); //rem-calc(650);
// $symbol-width-large: rem-calc(870);
$symbol-gap-width: 60px;

//=========================================
// Logo
//=========================================

$logo-width-small: rem-calc(300);