/*
    VARIABLES.CSS

    - Last updated: 21.03.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Global Variables
//-----------------------------------------------------------------

// recent
// $symbol-width: calc(100vh - 80px);  // match this in global - can't do calc with variables - long story

// 06.08.15
$symbol-width: calc(100vh - 80px);  // match this in global - can't do calc with variables - long story

// $symbol-width-small: rem-calc(30);
// $symbol-width-medium: rem-calc(450); //rem-calc(650);
// $symbol-width-large: rem-calc(870);
// $symbol-gap-width: 4px;// 60px;  // must be a set number (4), or else rendering bug in IE11 - who knows

// $symbol-gap-width: 148px;

//=========================================
// Large Granular (width)  ** WARNING - ZEROES NEED PIXELS FOR CALC, WHO KNOWS WHY **
//=========================================

$symbol-1-left-margin-large: 56px; //128px; // set
$symbol-2-left-margin-large: 67px;
$symbol-3-left-margin-large: 0px;
$symbol-4-left-margin-large: 0px; // problem one
$symbol-5-left-margin-large: 0px;
// RIGHT margin - only one
$symbol-5-right-margin-large: 67px;

//=========================================
// Large High Granular (width && 670 high) - ipad landscape
//=========================================

$symbol-1-left-margin-large-high: (67px - 15px); // minus 15px for the logo padding (long story)
$symbol-2-left-margin-large-high: 67px;
$symbol-3-left-margin-large-high: 0px;
$symbol-4-left-margin-large-high: -67px; // problem one -67px
$symbol-5-left-margin-large-high: 0px;
// RIGHT margin - only one
$symbol-5-right-margin-large-high: (67px + 15px); // not sure why this works

//=========================================
// Large High Granular (width && 900 high)
//=========================================

$symbol-1-left-margin-large-highest: 108px; // set
$symbol-2-left-margin-large-highest: 116px;
$symbol-3-left-margin-large-highest: 0px;
$symbol-4-left-margin-large-highest: -116px; // problem one -116px
$symbol-5-left-margin-large-highest: 0px;
// RIGHT margin - only one
$symbol-5-right-margin-large-highest: 116px;

//=========================================
// Logo
//=========================================

$logo-width-small: rem-calc(142);