---
layout: master
---

{% assign media_sections = site.data.media_sections %}

<div class="media-symbol-container">
	<ul class="media-symbol-block-grid">
		{% for item in media_sections %}
			<li class="order-{{forloop.index}}">
				<a class="media-symbol js-media-symbol" href="#">
					<h2 class="header">{{ item.title }}</h2>
					<div class="dark-tint-overlay"></div>
					<img class="img" src="{{ item.symbol }}" alt="Symbol">

					<!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->

					<!-- style="background-image: url({{ item.image }})" -->
					<video autoplay loop muted poster="{{ item.image }}">
						<source src="/img/content/video/{{ item.video }}.mp4" type="video/mp4">
						<source src="/img/content/video/{{ item.video }}.webm" type="video/webm">
						<source src="/img/content/video/{{ item.video }}.ogv" type="video/ogg">
					</video>
				</a>

				<div class="media-symbol-text hide {{ item.text_position }}">
					<div class="media-symbol-text-content">
						<a class="media-symbol-close-btn js-media-symbol-close-btn show-for-large-up" href="#">✕</a>
						<div class="row">
							{% for text in item.text %}
								<div class="medium-6 columns">
									{{ text.body }}
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</li>
		{% endfor %}
	</ul>
</div>