---
layout: master
---

{% assign settings = site.data.settings %}
{% assign media_sections = site.data.sitemap %}

<div class="media-symbol-container">
	<ul class="media-symbol-block-grid">
		{% for item in media_sections %}
			<li>
				<a class="media-symbol js-media-symbol wow fadeIn" data-wow-duration="1s" data-wow-delay="{{forloop.index}}s" href="#">
					<h2 class="header">{{ item.title }}</h2>
					<img class="img" src="/img/template/symbol-{{forloop.index}}.svg" alt="">
					<!-- <video></video> -->

					<!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->

					<!-- poster="/img/content/symbol-{{forloop.index}}.jpg" -->
					<video autoplay style="background-image: url(/img/content/symbol-{{forloop.index}}.jpg)" id="media-symbol-vid" loop>
						<!-- <source src="//demosthenes.info/assets/videos/polina.webm" type="video/webm"> -->
						<!-- <source src="//demosthenes.info/assets/videos/polina.mp4" type="video/mp4"> -->
						<!-- <source src="/img/content/polina.mp4" type="video/mp4"> -->
					</video>
				</a>
				{% for text in item.text %}
					<div class="media-symbol-text hide lv-unselectable {{ text.text_layout }}">
						<a class="media-symbol-close-btn js-media-symbol-close-btn {{ text.close_btn_layout }}" href="#">✕</a>
						{{ text.body | markdownify }}
					</div>
				{% endfor %}

			</li>
		{% endfor %}
	</ul>
</div>