/*
    LISTS.CSS

    - Last updated: 10.12.14
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
//
//-----------------------------------------------------------------

ul li {
	margin-bottom: rem-calc(5);
}

.media-symbol-text-content ul {
	list-style: none;
	margin-left: 0;
	padding-left: rem-calc(15);

	li {
		margin-bottom: 0; //rem-calc(5);
		padding-bottom: 0;

		a:before {
			// content: "\f0da";
			// content: "\f04b";
			content: "+";
			// font-family: "FontAwesome";
			position: absolute;
			left: rem-calc(15);
		}
	}

	&[class*='block-grid'] li {
		padding-bottom: 0; // Let list items set their own inner padding
	}
}

//=========================================
// Foundation List Override
//=========================================

ol ol ul, ol ul ul, ul ol ul, ul ul ul {
    list-style: circle;
}