/*
    MODULES.CSS

    - Last updated: 15.07.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Media Symbol
//-----------------------------------------------------------------

.media-symbol {
	@extend .lv-unselectable;
	display: block;
	position: relative;
	overflow: hidden;
	background: #eee;
	opacity: 0; // show with JS
	z-index: 1;
}

// Hide hand cursor when open and on large
.is-open .media-symbol {
	@media #{$large-up} {
	    cursor: auto;
	}
}

//-----------------------------------------------------------------
// Media Text
//-----------------------------------------------------------------

.media-symbol-text {
	position: relative;
	z-index: 100;

	@media #{$large-up} {
		position: absolute;
	    // width: rem-calc(250);
	    width: 60%;
	}

	&.has-additional {
		@media #{$large-up} {
		    width: 90%;
		}
	}

	.media-symbol-text-content {
		@extend .lv-unselectable;

		@media #{$small-only} {
		    margin-top: -30%;
		}

		@media #{$medium-only} {
		    margin-top: -35%;
		    margin-bottom: 5%;
		}
	}

	//=========================================
	// Paragraphs and list items (links)
	//=========================================

	p, ul {
		line-height: 1.15;
		font-size: rem-calc(21); // client request

		// @media (min-height: 900px) {
		// 	font-size: rem-calc(21);
		// }
	}

	//=========================================
	// Positioning - on large only (absolute)
	//=========================================

	// About
	&.mid-left {
		@media #{$large-up} {
		    top: 55%;
		    left: 0;
		}
	}

	// Services
	&.top-left {
		@media #{$large-up} {
			top: 0;
			left: 0;
		}
	}

	// Resources
	&.bottom-left-offset {
		@media #{$large-up} {
			bottom: 0;
			left: 11%;
		}
	}

	// Links
	&.top-left-offset {
		@media #{$large-up} {
			top: 0;
			left: 11%;
		}
	}

	// Contact
	&.mid-right {
		@media #{$large-up} {
			top: 44%;
			right: 0;
		}
	}

	-webkit-animation-duration: 0.6s;
	-moz-animation-duration: 0.6s;
	-o-animation-duration: 0.6s;
	animation-duration: 0.6s;
}

//-----------------------------------------------------------------
// Media Symbol Close Button
//-----------------------------------------------------------------

.media-symbol-close-btn {
	@include transition(color);
	cursor: pointer;
	display: block;
	font-size: rem-calc(40);
	line-height: 1.2;
	color: white;
	margin-bottom: rem-calc(10);

	@media #{$large-up} {
	    position: absolute;
	    top: -10px;
	    left: -40px;
	}
}

//-----------------------------------------------------------------
// *** Special Case: Contact ***
//-----------------------------------------------------------------

.mid-right {

	// Has to be on large
	@media #{$large-up} {
	    overflow: hidden;
	}

	.row .columns {
		@media #{$medium-only} {
			width: auto; // prevent that slim column thing on landscape mobile
		}
	}

	.media-symbol-close-btn {
		position: relative;
		left: calc(50% + 15px);
		// left: 50%;
		top: 0;
	}
}

.media-symbol-close-btn:hover {
	color: black;
}

//-----------------------------------------------------------------
// Media Symbol Video
//-----------------------------------------------------------------

.media-symbol video {
	position: absolute;
	top: 0;
	left: 0;

	// min-width: 100%;
	// min-height: 100%;
	// width: auto;
	// height: auto;

	height: 100%;

	// background-color: white;
	background-repeat: no-repeat;
	background-position: center center;
	z-index: -1;

	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;

    @media #{$devices-only} {
		// width: 100%; // need?
		// height: 100%;
    }
}

video::-webkit-media-controls {
    display: none !important; // hacky
}

//-----------------------------------------------------------------
// Media Symbol Header
//-----------------------------------------------------------------

.media-symbol .header {
	position: absolute;
	top: 50%;
	margin-top: -25px;
	left: 0;
	width: 100%;
	font-weight: 500;
	font-size: rem-calc(35);
	color: white;
	text-align: center;
	padding: 0;
}

//-----------------------------------------------------------------
// Dark Tint Overlay
//-----------------------------------------------------------------

.media-symbol {
	.img {
		position: relative;
		z-index: 1;
	}

	h2 {
		z-index: 2;
	}

	.dark-tint-overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0, .5);
		// z-index: 1;
	}
}
