@charset "utf-8";
/*
    MAIN.CSS

    - Last updated: 06.08.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Foundation Settings
//-----------------------------------------------------------------

@import "foundation/app";

//-----------------------------------------------------------------
// Liquid Visual Components
//-----------------------------------------------------------------

@import "liquidvisual/components/alerts";
@import "liquidvisual/components/inline-list";
@import "liquidvisual/components/toolbox";

//-----------------------------------------------------------------
// Base
//-----------------------------------------------------------------

@import "app/base/variables";
@import "app/helpers/mixins";
@import "app/base/global";

//=========================================
// Layout
//=========================================

@import "app/layout/header";
@import "app/layout/media-container";

//=========================================
// Components
//=========================================

@import "app/components/lists";
@import "app/components/media-symbol";
@import "app/components/type";

//=========================================
// Helpers
//=========================================

@import "app/helpers/fonts";
@import "app/helpers/special";
@import "app/helpers/themes";

//-----------------------------------------------------------------
// Vendor
//-----------------------------------------------------------------

//@import "liquidvisual/vendor/flag-icons";
@import "../_bower_components/font-awesome/scss/font-awesome";
// @import "../_bower_components/slick.js/slick/slick";
@import "liquidvisual/vendor/foundation-icons";
// @import "liquidvisual/vendor/magnific-popup/main";
// @import "liquidvisual/vendor/mmenu/main";
@import "liquidvisual/vendor/nprogress";
// @import "liquidvisual/vendor/prism";