/*
    THEMES.CSS

    - Last updated: ^^^^^^^^
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Themes
//-----------------------------------------------------------------

.developer {
	.lv-page {
		background: grey;
	}

	.global-header {
		background: green;
	}
	.media-symbol-container > ul > li {
			background: black;
	}
}

//=========================================
//
//=========================================